body {
  background-color: #E3F6F5;
}

h1 {
  color: #66BFBF;
}

h3 {
  color: #66BFBF;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 7px;
  width: 10%;
}

img {
  border-radius: 100%;
}
